@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #0a1931;
	font-family: 'Poppins', 'sans-serif;';
	color: #feddbe;
}

.about-me {
	margin-top: 20px;
	text-align: center;
	font-size: 40px;
}

.me {
	color: #ffc947;
}

.introduce {
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	letter-spacing: 4px;
	margin-top: -20px;
	color: white;
}

img {
	margin-left: 30px;
	width: 500px;
	border-radius: 30px;
	margin-right: 30px;
	margin-top: 12px;
}

.container-profile {
	display: flex;
	padding: 90px;
}

.profile {
	margin-top: -2px;
	font-size: 35px;
	color: #ffc947;
}

hr {
	border: 1px solid #ffc947;
	margin-top: -13px;
	margin-bottom: 30px;
}

.point {
	color: #185adb;
}

.container-profile p {
	font-size : 19px;
}

.right-side ul{
	margin-left: -23px;
}
